@font-face {
  font-family: tolkien;
  src: url(../fonts/lotr.ttf);
}

h1, h2, li, #brand {
  font-family: tolkien;
}

h1 {
  text-align: center;
  color: white;
}

body {
  width: auto;
  height: 1000px;
  background: url(../images/map.jpg);
}

.character_img {
  width: 100%;
  height: 200px;
  border: 5px solid grey;
  border-radius: 50%;
  opacity: .85;
}

.task_div {
  color: white;
}

.task_row {
  margin-bottom: 20px;
}

.task_div > p {
  font-size: 20px;
}

.fa-check {
  color: olive;
}

#tasks_header {
  margin: 30px 60px;
}
